body{
    text-align: center;
    font-family: arial;
    color: black;
    margin: 1% 15%;
    background-color: rgb(66, 196, 141) 189);
}

h1{ 
    color: orange;
}
main{
    align-content: center;
    font-weight: 3em;

}
.left{
    display: inline-block;
    margin-right: 2%;
    width: 45%;
    height: 600px;
    
   
}
.right{
    display: inline-block;
    width: 45%;
    height: 800px;

}
h2{
    align-content: initial;
    color: green;
}
div p {
    color: blue;
    align-content: initial;
    align-items: initial;

}
a{
    text-decoration: none;
    color: orangered;
    
}
li{
    display: inline;
    margin-right: 5%;
}
nav{
    display: inline;
}







